.container{
    position: relative;
    bottom: 75px;
}

.input{
    position:relative;
    margin-right: 1rem;
    padding: 0.4rem;
    padding-right: 3rem;
   
    background-color: transparent;
    border-radius: 2rem;
    border:solid ;
    border-color: white;
   border-width: 2px;
   color: white;
   top: 0.9rem;
   
}

.button{
    position: relative;
    right: 4rem;
    width: 2rem;
    height: 2rem;
    top:1rem;
    border-radius: 999px;
    font-size: xx-large;
    border-color: transparent;
    background-color: transparent;
    outline: none;

}
button:focus{outline:none !important;}